@import "reset.scss";
.border-radius50 {
  border-radius: 50%;
}
.image-viaSize {
  width:200px;
  height:200px;
  composes: border-radius50;
}
.display-block {
  display: block;
}
.display-inlineBlock {
  display: inline-block;
}
.display-flex {
  display: flex;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex7 {
  flex:7;
}
.flex3 {
  flex:3;
}
.flex1 {
  flex:1;
}
.flex-justify-center{
  justify-content: center;
}
.flex-alignItems-center {
  align-items: center;
}
.container-width {
  max-width:1024px;
}
.margin-auto {
  margin:0 auto;
}
.margin-bt20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.padding-bt20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-bt15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-bt5{
   padding-top: 5px;
   padding-bottom: 5px;
 }
.padding-lr20{
  padding-left: 20px;
  padding-right: 20px;
}
.padding-l20{
  padding-left: 20px;
}
.padding-bt10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-b10 {
  padding-bottom: 10px;
}
.background-gray {
  background: #EFEFEF;
}
.center {
  text-align: center;
}
.font-color {
  color: #4C4C4C;
}
.font-size24 {
  font-size: 24px;
}
.fontSize16 {
  font-size: 16px;
}
.font-size14 {
  font-size: 14px;
}

.gps:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background:url("../images/gps.png") no-repeat;
  background-size: 100% 100%;
}
.container {
  composes:display-flex;
  composes: container-width;
  composes: margin-auto;
  composes: margin-bt20;
  border: 2px solid #EFEFEF;
}
.via-self {
  composes:flex-column;
  composes: flex-alignItems-center;
  composes: font-color;
}
.about-item {
  composes: flex1;
  composes:flex-column;
  composes: flex-alignItems-center;
  composes: font-color;
  composes: padding-bt10;
  line-height: 1.5;
  border-top: 1px solid #BEBEBE;
  border-right: 1px solid #BEBEBE;
}
.about-item:last-child {
  border-right-width: 0;
}
.contact-title {
  composes: padding-bt15;
  composes: padding-lr20;
  composes: background-gray;
  margin-top: 10px;
  font-weight: 700;
  color: #333;
}
@mixin icon {
  display: inline-block;
  content: "";
  width:32px;
  height:32px;
  vertical-align: middle;
  margin-right: 5px;
}
.contact-title:before {
  @include icon;
  background:url("../../public/images/contact.png") no-repeat;

}
.contact-item {
  composes: padding-bt10;
  border-bottom: 1px solid #EFEFEF;
}
.mobile:before{
  @include icon;
  background:url("../../public/images/mobile.png") no-repeat;
}
.qq:before{
  @include icon;
  background:url("../../public/images/qq.png") no-repeat;
}
.weChat:before{
  @include icon;
  background:url("../../public/images/weChat.png") no-repeat;
}
.email:before{
  @include icon;
  background:url("../../public/images/email.png") no-repeat;
}
.github:before{
  @include icon;
  background:url("../../public/images/github.png") no-repeat;
}
.right-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.editable {
  composes: font-color;
  composes: margin-bt20;
  line-height: 2;
}
